.area{
    max-width: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
    background-color: coral;
    margin: 40px auto 0 auto;
    transform: rotate(360deg);

}
.cell{
    width: 10px;
    height: 10px;
    background-color: rgb(24, 71, 42);
}
.free{
    width: 10px;
    height: 10px;
    background-color: rgb(114, 218, 128); 
}

.start{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(131, 0, 253); 
}

.finish{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(248, 0, 0); 
}