.header{
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px -20px 54px rgb(0 0 0 / 25%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    padding: 0 15px;
    max-width: 30%;
    width: 100%;
}
.flexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: relative;
    font-weight: normal;
    font-size: 35px;
    line-height: 118.69%;
    letter-spacing: 0.12em;
    color: #191263;
}
.back{
    position: relative;
}
.back a{
    font-size: 18px;
    line-height: 118.69%;
    letter-spacing: 0.12em;
    color: #191263;
}
.back a::before{
    transform: scaleX(0);
    transform-origin: bottom right;

}
.back a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .back a::before {
    content: " ";
    display: block;
    height: 15px;
    border-radius: 2px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(141, 222, 140, 0.5);
    z-index: -1;
    transition: transform 0.5s ease;
  }

.logo::before{
    transform: scaleX(0);
    transform-origin: bottom right;

}
.logo:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .logo::before {
    content: " ";
    display: block;
    height: 50%;
    border-radius: 5px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(141, 222, 140, 0.5);
    z-index: -1;
    transition: transform 0.5s ease;
  }
  
.settings{
    max-width: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}   
.item{
    font-size: 18px;
    line-height: 118.69%;
    letter-spacing: 0.12em;
    color: #191263;
    text-transform: uppercase;
    cursor: pointer;
}

.setting{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width:100%;
    padding: 10px 0;
    cursor: pointer;
    transition: transform 0.5s;
    font-size: 16px;
    color:#191263;
    text-transform: none;
    letter-spacing: 0;
}
.setting:not(:last-child){
    border-bottom: 1px solid #d6d5d5;
}
.setting:hover{
    transform: translateY(-2px)
}
.values{
    position: absolute;
    width: 75px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow:  2px 8px 8px rgb(0 0 0 / 23%);
    justify-content: center;
    align-items: center;
}
.burger{
    display: none;
    border: none;
    cursor: pointer;
    background: none;
}


@media(max-width: 850px) {
    .logo{
        font-size: 25px;
    }
}
@media(max-width: 730px){
    .header{
        display: flex;
        justify-content: flex-between;
        padding: 15px 10px;
    }
}
@media(max-width: 580px) {
    .logo{
        display: none;
    }
}
  