.list{
    max-width: 548px;
    width: 100%;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    position: relative;
}
.item a{
    font-size: 18px;
    line-height: 118.69%;
    letter-spacing: 0.12em;
    color: #191263;
}

.item a::before{
    transform: scaleX(0);
    transform-origin: bottom right;

}
.item a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .item a::before {
    content: " ";
    display: block;
    height: 15px;
    border-radius: 2px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(141, 222, 140, 0.5);
    z-index: -1;
    transition: transform 0.5s ease;
  }

  .burgerList{
      padding: 10px;
      display: block;
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 1001;
      background: #fff;
      box-shadow: -4px 8px 13px rgb(0 0 0 / 40%);
  }
  .burgerList > li:not(:last-child){
      margin-bottom: 20px;
  }

  @media(max-width: 970px) {
    .list{
        position: absolute;
        display: none;
    }
}