.description__wrapper{
    width: 560px;
    height: 150px;
}
.description__img{
    width: 100%;
}
.description__description{
    width: 588px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 146.69%;
    text-align: center;
    color: #3A3185;
}
.description__btns-wrapper{
    width: 588px;
    display: flex;
    justify-content: center;
}
.description__btns{
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0 10px 0;
}
.description__btn{
    border-radius: 50% 0%;
    width: 125px;
    height: 80px;
    border: none;
    background-color: #BED01C;
    font-size: 18px;
    color:#3A3185;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: 1s;
}
.description__btn:hover{
    animation: btn-entry 10s;
}

@keyframes btn-entry{
    0%{
        border-radius: 50% 0%;
    }
    15%{
        border-radius: 75% 25% 35% 25%;
    }
    35%{
        border-radius: 25% 75% 50% 75%;
    }
    50%{
        border-radius: 100% 30% 75% 25%;;
    }
    65%{
        border-radius: 25% 75% 50% 75%;
    }
    80%{
        border-radius: 75% 25% 35% 25%;
    }
    100%{
        border-radius: 50% 0%;
    }
}

