.container{
    padding: 0 10px;
    max-width: 1110px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.shape{
    display: flex;
    align-items: center;
    width: 60vw;
    min-height: 500px;
    margin: 0 auto;
    background-color: #B1E9DD;
    border-radius: 289px 0px 0px 289px;
    position: relative;
    
}
.list{
    max-width: 434px;
    width: 55%;
    margin: 0 auto;
    z-index: 100;
}
.item{
    max-width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 40px;
    line-height: 118.69%;  
    letter-spacing: -0.005em;
    color: rgba(25, 18, 99, 1);
    border-radius: 18px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}
.item:not(:last-child) {
    margin-bottom: 30px;
}

.item:hover{
    box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
    transform: translateY(-5px);
    
}
.squer{
    width: 119px;
    height: 119px;
    background-color: rgba(254, 211, 133, 1);
    position:absolute;
    top: 80px;
    left: 140px;
    z-index: 10;
}
.circle{
    width: 200px;
    height: 200px;
    background-color: rgba(250, 207, 202, 1);
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    right: 160px;
    z-index: 10;
}
.girl{
    position: absolute;
    bottom: 0;
    right: -81px;
}
.bush{
    position: absolute;
    bottom: 7px;
    left: 0;
    z-index: 100;
}

@media(max-width: 970px) {
    .shape{
        border-radius: 0px 0px 0px 0px;
        width: 80vw;
    }
    .bush{
        bottom: 0px;
        left: -80px;
    }
    .list{
        width: 80%;
    }
}
@media(max-width: 510px) {
    .bush{
        width: 300px;
        height: 200px;
        bottom: 0px;
        left: -105px;
    }
    .circle{
        right: -20px;
    }
}
@media(max-width: 510px){
    .squer{
        left: 20px;
    }
}