.wrapper{
    width:90px;
    position: relative;

}
.btn{
    width: 100%;
    background: none;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: #191263;
    border: none;
    font-size: 16px;
    line-height: 118.69%;
    letter-spacing: 0.12em;
    transition: box-shadow 0.5s, transform 0.5s;
    will-change: box-shadow, transform;
}
.btn::after{
    content: '▲';
    transition: color 0.5s, content 0.5s;
}
.btn:hover::after{
    content: '▼';
    color: #8DDE8C;
}
.list{
    z-index: 100;
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 15%);
    gap: 5px;
    top: 45px;
}
.item{
    width: 100%;
    
}
.item button{
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #191263;
    font-size: 18px;
    transition: 0.5s;
    padding: 5px;

}
.item button:hover{
    background-color: #f0f0f0;
    
}
.active{
    display: flex;
}
