.container{
    max-width: 1110px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.list{
    max-width: 350px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 30px 10px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    color: #191263;
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
    cursor: pointer;
}
.li:not(:last-child) {
    margin-bottom: 20px;
}
.item:hover{
    background-color: rgb(228, 227, 227);
}

@media(max-width: 450px) {
    .list {
        width:95vw;
    }
}